*{margin:0;}

body, .container {
    font: 200 16px/1 Helvetica, Arial, sans-serif;
}

ul, li, a {
    font: 200 14px/1 Helvetica, Arial, sans-serif;
    color: white;
}

/* White Box Debugger
.white-box {
    border: 1px solid white;
}*/

.nav>li {
    color: white !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    color: dodgerblue;
    background-color: transparent;
}

/* Progress Bar CSS */

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgb(20, 32, 66); /*#142042*/
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

/* End of Progress Bar CSS */

.menu-logo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
.ul-menu {
    padding-right: 3%;
    padding-top: 2%;
}

.li-menu {
    width: 165px;
    text-align: center;
}

.li-menu-first-item {
    width: 142px;
    text-align: left;
}

/* Fully Responsive Image Acting as "False" Background */
.backgroundImageView {
    position: fixed;
    z-index: -99999;
}

.darkFilter {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99998;
}

@media screen and (min-width: 1351px) {
    .backgroundImageView {
        max-width: 100%; 
        height: auto;
        display: block;
    }
}

@media screen and (max-width: 1350px) and (min-width: 801px) {
    .backgroundImageView {
        max-width: 175%; 
        height: auto;
        left: -300px;
    }
}

@media screen and (max-width: 800px) and (min-width: 451px) {
    .backgroundImageView {
        max-width: 300%; 
        height: auto;
        left: -500px;
    }
}

@media screen and (max-width: 450px) {
    .backgroundImageView {
        max-width: 500%; 
        height: auto;
        left: -750px;
    }
}

