*{margin:0;}

body{
  font: 200 16px/1 Helvetica, Arial, sans-serif;
}

/* Progress Bar CSS */

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,1);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

/* End of Progress Bar CSS */

/* Fully Responsive Image Acting as "False" Background */
@media screen and (min-width: 1351px) {
    .backgroundImageView {
        max-width: 100%; 
        height: auto;
        display: block;
    }
}

@media screen and (max-width: 1350px) and (min-width: 801px) {
    .backgroundImageView {
        max-width: 175%; 
        height: auto;
        position: relative;
        right: 200px;
    }
}

@media screen and (max-width: 800px) and (min-width: 451px) {
    .backgroundImageView {
        max-width: 300%; 
        height: auto;
        position: relative;
        right: 350px;
    }
}

@media screen and (max-width: 450px) {
    .backgroundImageView {
        max-width: 500%; 
        height: auto;
        position: relative;
        right: 700px;
    }
}

