.now-element-labels {
    border: 0px solid dodgerblue;
    background-color: rgba(30, 144, 255, .5); /*rgba(24,30,52, 0.5);*/
    text-align: center;
}

#map {
    width: 100%;
    height: 350px;
    background-color: grey;
    border: 0px solid dodgerblue;
}
